.welcome{
    h1{
        font-size: 130px;
        font-style: oblique;
    }
    h3{
        font-size: 40px;
    }
    button.signUp{
        margin: 15px;
        padding: 7px 30px;
        border-radius: 10px;
        background: linear-gradient(145deg, #e3e3e3, #ffffff);
        box-shadow:  14px 14px 28px #d6d6d6,-14px -14px 28px #ffffff;
    }
    button.signIn{
        color: white;
        margin: 15px;
        padding: 7px 30px;
        border-radius: 10px;
        background: linear-gradient(145deg, #78c5ff, #65a6d8);
        box-shadow:  14px 14px 28px #5c97c5, 0px 0px 0px #84d9ff;
    }
}