/* You can add global styles to this file, and also import other style files */

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.logo img{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 40px;
    width: 230px;
}

