<div class="card">
    <div class="card-body">
        <form [formGroup]='form' #ngForm="ngForm" (submit)='add()'>
            <div class="form-group">
                <label for="exampleInputEmail1">Url to save</label>
                <input #url formControlName='url' type="text" class="form-control" required id="url"
                    aria-describedby="url">
                <div *ngIf='submitted && !url.value' class="text-danger mt-1">
                    Url is required.
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Name of url</label>
                <input #name formControlName='name' type="email" class="form-control" required id="name"
                    aria-describedby="name">
                <div *ngIf='submitted && !name.value' class="text-danger mt-1">
                    Name is required.
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary add btn-lg">Add</button>
            </div>
        </form>
    </div>
</div>